section {
  display                 : flex;
  height                  : 38.1875rem;
  justify-content         : space-between;
  .activityContainer {
    display               : grid;
    width                 : 74%;
    gap                   : 1.8125rem;
    grid-template-areas   : 
      'activity activity activity'
      'objectives radar kpi';
    grid-template-columns : repeat(3, 16.0625rem);
    grid-template-rows    : 20rem 16.125rem;
    .activity,
    .average,
    .radar,
    .kpi {
      border-radius       : .3125rem;
    }
    .activity {
      grid-area           : activity;
    }

    .average {
      background          : red;
      grid-area           : objectives;
    }
    .radar {
      background-color    : #2e3333;
      grid-area           : radar;
    }
    .kpi {
      background          : #fbfbfb;
      grid-area           : kpi;
    }
  }
  .keyFiguresContainer {
    display               : flex;
    flex-direction        : column;
    justify-content       : space-between;
    width                 : 23%;
    .keyFigures {
      background          : #fbfbfb;
      height              : 7.75rem;
    }
  }
}
