.objectives{
  background: red;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
  h2{
    color: white;
    font-size:15px;
    width:147px;
  }
  .customTooltip{
    display:flex;
    align-items:center;
    justify-content: center;
    width:30px;
    height:24px;
    background:white;
    .value{
      font-size:8px;

    }
  }


}