.mainContainer {
  display           : flex;
  flex-direction    : column;
  justify-content   : center;
  margin            : 0 auto;
  min-width         : 70.25rem;
  position          : relative;
  width             : 85%;
  .green,
  .red {
    height          : 1.25rem;
    position        : absolute;
    right           : 0;
    top             : 0;
    width           : 1.25rem;
  }
  .green {
    color           : green;
  }
  .red {
    color           : red;
  }
  main {
    display         : flex;
    flex-direction  : column;
    height          : 48.6875rem;
    justify-content : space-between;
  }
}
.noData {
  color             : red;
  margin            : auto 0;
  text-align        : center;
}
